
<div>

    <h1>{{game}}</h1>
    <style>
        #map-canvas  { height: 100%; width:100%; }
        #user-number { font-size: 15px; font-weight: bold; font-color:black;}
    </style>

    <!--<p>there are other <a href="#" id="user-number" onclick="move_to_otheruser()">0</a> users viewing this page with you.</p>-->
    <button name="knopje" onclick="plaatsDing()">Voeg vlag/coin toe</button>
    <tr>
        <th>Speler</th>
        <th>Score</th>
    </tr>
        {{iets}}

    <button name="knopje" onclick="voegCoinsToe()">Voeg random coins toe</button>
    <div id="map-canvas"></div>
    <iframe src="URL"></iframe>

</div>
