<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-xs-10">
                <div class="search">
                    <div class="hexagon-wrapper" style="width:70px;height:70px;">
                        <div class="hexagon"></div>
                    </div>
                    <div class="searchbar">
                        <input type="text">
                        <div class="searchresults">
                            <ul>
                                <li>Result</li>
                                <li>Result</li>
                                <li>Result</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-2">
                <div class="hexagon-wrapper pull-right" style="width:70px;height:70px;">
                    <div class="hexagon"></div>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <nav>
                <div class="hexagon-wrapper" style="width:100px;height:100px;">
                    <div class="hexagon"></div>
                    <div class="shadow"></div>
                </div>

                <div class="hexagon-wrapper" style="width:100px;height:100px;">
                    <div class="hexagon"></div>
                    <div class="shadow"></div>
                </div>

                <div class="hexagon-wrapper" style="width:100px;height:100px;">
                    <div class="hexagon"></div>
                    <div class="shadow"></div>
                </div>

                <div class="hexagon-wrapper" style="width:100px;height:100px;">
                    <div class="hexagon"></div>
                    <div class="shadow"></div>
                </div>

                <div class="hexagon-wrapper" style="width:100px;height:100px;">
                    <div class="hexagon"></div>
                    <div class="shadow"></div>
                </div>
            </nav>
        </div>
    </div>
</div>