<div ng-controller="loginCtrl">

    <div class="flash" data-ng-repeat="message in messages">{{message}}</div>

    <form ng-submit="signin()">
        <div>
            <label>Username:</label>
            <input ng-model="loginInfo.username" type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input ng-model="loginInfo.password" type="password" name="password"/>
        </div>
        <div>
            <input ng-disabled="regInfo.$invalid" type="submit" value="Log In"/>
        </div>
    </form>


    {{ user }}

    geen account?
   <a href="/#/register">Registreer</a>
</div>