<div ng-controller="loginCtrl" class="login">

    <div class="flash" data-ng-repeat="message in messages">{{message}}</div>

    <form ng-submit="signin()">
        <div>
            <label>Gebruikersnaam:</label>
            <input ng-model="loginInfo.username" type="text" name="username"/>
        </div>
        <div>
            <label>Wachtwoord:</label>
            <input ng-model="loginInfo.password" type="password" name="password"/>
        </div>
        <div>
            <input ng-disabled="regInfo.$invalid" type="submit" value="Log In"/>
        </div>
    </form>

    Geen account? <a href="/#/register">Registreer</a>
</div>