@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'cartoonist';
    src: url('../fonts/cartoonist_kooky-webfont.eot');
    src: url('../fonts/cartoonist_kooky-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cartoonist_kooky-webfont.woff2') format('woff2'),
    url('../fonts/cartoonist_kooky-webfont.woff') format('woff'),
    url('../fonts/cartoonist_kooky-webfont.ttf') format('truetype'),
    url('../fonts/cartoonist_kooky-webfont.svg#cartoonistkooky') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:10px;
    background:#fecc09;
}

h1, h2{
    margin:0;
    padding:0;
    font-family:'cartoonist';
}

p{
    font-family: 'Open Sans', sans-serif;
}

input.changeUserDataInput{
    background:#343434;
}

.hexagon-wrapper {
    text-align: center;
    position: relative;
    display: inline-block;
    float: left;
    z-index: 1;
}

.hexagon, .shadow {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
    background:#343434;
}

.hex-border, .hex-border::after, .hex-border::before{
    border-top:5px solid #343434;
    border-bottom:5px solid #343434;
}

.hexagon:before, .shadow:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon:after, .shadow:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

.img-big img{
    position: relative;
    z-index: 3;
    max-width: 88px;
    margin-top: 20px;
}

.img-small img{
    position:relative;
    z-index:3;
    max-width:40px;
    margin-top:15px;
}

.search{
    width:inherit;
}

.search .searchbar{
    width: inherit;
    height:70px;
    margin: 0px 0px 0px -32px;
    float:left;
    background: #ffffff;
    padding:0px 0px 0px 40px;
}

.search .searchbar input{
    float: left;
    line-height:70px;
    height: 70px;
    width: 100%;
    border:none;
    padding:0px 0px 0px 10px;
    font-size:18px;
    outline:none;
}

.search .searchbar input:active{
    border:none;
}


.search .searchbar::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 26px solid #ffffff;
    top:0;
}

.searchresults{
    width:100%;
    float:left;
    background:#ffffff;
    position:relative;
    z-index:2;
}

.searchresults ul{
    width:100%;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}

.searchresults ul li{
    width:100%;
    height:30px;
    padding:10px;
}

nav{
    width:100%;
    margin:30px 0px 0px 0px;
    float:left;
}

nav .hexagon-wrapper:nth-child(even){
    margin: 50px 0px 0px 0px;
}

nav .shadow{
    background:transparent;
}

nav .shadow:before{
    background: grey;
    top: 8px;
    transform: none;
    z-index: -1;
    left: 20px;
    width: 63px;
}

nav .shadow:after{
    height: 100px;
    width: 63px;
    top: 5px;
    right: calc((100% / 2) - ((100% * 0.57735) / 2) - 8px);
    background: grey;
    z-index: -1;
}

nav .hexagon-wrapper:hover .shadow{
    display:none;
}

.login{
    width:300px;
    height:250px;
    margin:0 auto;
}

.login label{
    width:100%;
    text-align:center;
    font-size:18px;
}

.login input{
    width:100%;
}

/*
PROFILE PAGE
*/

.profile{
    width:100%;
    float:left;
}

.profile-name{
    width: calc(100% - 150px);
    height: 70px;
    background: #343434;
    float: left;
    margin: 0px 0px 0px -32px;
    padding: 0px 0px 0px 40px;
    border-bottom:76px solid #343434;
}

.profile-name::after{
    content: "";
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
    border-left: 25px solid #343434;
    position: absolute;
    top:0px;
    right:22px;
}

.profile-name h1{
    color:#ffffff;
    margin:20px;
}

.profile-friends{
    width: calc(100% - 250px);
    height: 70px;
    background: grey;
    float: left;
    margin: 0px 0px 0px -32px;
    padding: 0px 0px 0px 40px;
    border-bottom:74px solid grey;
}

.profile-friends::after{
    content: "";
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
    border-left: 25px solid grey;
    position: absolute;
    top:74px;
    right:122px;
}

.profile-friends h2{
    color:#ffffff;
    margin:20px;
}

/*
GENERAL LIST
*/

.list {
    width:100%;
    margin:20px 0px 0px 0px;
    padding:0;
    list-style-type:none;
    float:left;
}

.list li{
    width:100%;
    height:70px;
    float:left;
}

.list li p, .list li a{
    width:calc(100% - 70px);
    float:left;
    line-height:70px;
    padding:0px 0px 0px 34px;
    margin:0px 0px 0px -20px;
    background:#343434;
    color:#FFFFFF;
    font-size:18px;
}

.list li::after{
    content: "";
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 25px solid #343434;
    position: absolute;
}


.list-groups li::after{
    border-left: 25px solid grey;
}

.list-groups li p, .list-groups li a{
    width:calc(70% - 70px);
}

.list li a:hover, .list-groups li a:hover{
    text-decoration:none;
}

.list-groups li strong{
    width:30%;
    float:left;
    line-height:55px;
    background:grey;
    color:#FFFFFF;
    font-size:18px;
    padding:10px 0px 0px 30px;
    font-family:'cartoonist';
}

.list-groups li strong span{
    font-size:35px;
}

.list-groups li strong::before{
    content: "";
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 25px solid #343434;
    position: absolute;
    margin:-10px 0px 0px -30px;
}

.title{
    background:#343434;
    color:#ffffff;
    text-align:center;
    padding:15px 0px;
}

.title::before{
    content: "";
    width: 0;
    height: 0;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-right: 15px solid #343434;
    position: absolute;
    left: 0;
    top: 0;
}

.title::after{
    content: "";
    width: 0;
    height: 0;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-left: 15px solid #343434;
    position: absolute;
    right: 0;
    top: 0;
}