html{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:10px;
    background:#fecc09;
}

.hexagon-wrapper {
    text-align: center;
    position: relative;
    display: inline-block;
    float: left;
    z-index: 1;
}

.hexagon, .shadow {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
    background:#343434;
}

.hexagon:before, .shadow:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}

.hexagon:after, .shadow:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
}

.search{
    width:inherit;
}

.search .searchbar{
    width: inherit;
    height: 70px;
    margin: 0px 0px 0px -32px;
    float:left;
    background: #ffffff;
    padding:0px 0px 0px 40px;
}

.search .searchbar input{
    float: left;
    line-height:70px;
    height: 70px;
    width: 100%;
    border:none;
    padding:0px 0px 0px 10px;
    font-size:18px;
    outline:none;
}

.search .searchbar input:active{
    border:none;
}


.search .searchbar::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 26px solid #ffffff;
    top:0;
}

nav{
    width:100%;
    margin:30px 0px 0px 0px;
    float:left;
}

nav .hexagon-wrapper:nth-child(even){
    margin: 50px 0px 0px 0px;
}

nav .shadow{
    background:transparent;
}

nav .shadow:before{
    background: grey;
    top: 8px;
    transform: none;
    z-index: -1;
    left: 20px;
    width: 63px;
}

nav .shadow:after{
    height: 100px;
    width: 63px;
    top: 5px;
    right: calc((100% / 2) - ((100% * 0.57735) / 2) - 8px);
    background: grey;
    z-index: -1;
}

nav .hexagon-wrapper:hover .shadow{
    display:none;
}