swagger: "2.0"
info:
  version: '0.5'
  title: Game Out
  license:
    name: HAN
  description:
    Game Out is een web-applicatie waarmee buitenspelen en gamen gecombineerd wordt. 
host: server3.tezzt.nl:6031
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /users:
    get:
      summary: Retrieves all users
      operationId: retrieveAll
      tags:
        - users
      responses:
        200:
          description: Returns all users
          schema:
            $ref: '#/definitions/Users'

  /users/register:
    post:
      summary: Register a user
      operationId: signup
      tags:
        - users
      responses:
        200:
          description:  User registration was succesful
          schema:
            $ref: '#/definitions/User'
            
  /users/login:
    post:
      summary: Authenticates the user by username and password
      operationId: signin
      tags:
        - users
      responses:
        200:
          description: User authentication was succesful
        401:
          description: User authentication failed
          
  /users/profile:
    get:
      summary: Returns the logged in user object
      operationId: profile
      tags:
        - users
      responses:
        200:
          description: Logged in User object
          
  /users/addfriend:
    put:
      summary: Updates the logged in users friends
      operationId: addFriend
      tags:
        - users
      responses:
        200:
          description: Friend added succesfully, returns logged in user
          schema:
            $ref: '#/definitions/User'
          
  /groups:
    post:
      summary: Creates a group
      operationId: create
      tags:
        - groups
      responses:
        200:
          description: Group creation was succesful
          
    get:
      summary: Retrieve all groups
      operationId: retrieveAll
      tags:
        - groups
      responses:
        200:
          description: groups
          schema:
            $ref: '#/definitions/Groups'
  
  /groups/{id}:
    get:
      summary: Get a single group by ID
      operationId: retrieve
      tags:
        - groups
      parameters:
        - name: id
          in: path
          description: ID of group to fetch
          required: true
          type: integer
          format: int64  
      responses:
        200:
          description: single group
          schema:
            $ref: '#/definitions/Group'
          
definitions:
  User:
    required:
      - firstname
      - lastname
      - email
      - username
      - city
      - password
    properties:
      username:
        type: string
      firstname:
        type: string
      lastname:
        type: string
      city:
        type: string
      password:
        type: string
      email:
        type: string
        
  Users:
    type: array
    items:
      $ref: '#/definitions/User'
      
  Group:
    required:
      - name
    properties:
      name:
        type: string
        
  Groups:
    type: array
    items:
      $ref: '#/definitions/Group'